{{!-- To monitor changes in hbs along with js files use : nodemon src/app.js -e js,hbs --}}
<header>
    <h1>{{title}}</h1>

    <a href="/">Weather</a>
    <a href="/about">About</a>
    <a href="/help">Help</a>
</header>